<section class="hero">
  <!-- Contenido textual -->
  <div class="hero-content">
    <h1>LO MEJOR PARA TU <span>DESCANSO.</span></h1>
    <p class="subtitle">Diseñamos y fabricamos mobiliario exclusivo para el descanso de tus mascotas.</p>
    <h2>Nuestros productos.</h2>
    <a routerLink="/productos" class="btn-hero">Catálogo</a>
  </div>

  <!-- Carrusel de imágenes -->
  <div class="hero-carousel">
    <div class="carousel">
      <img src="assets/images/home1.jpeg" alt="Cama Premium 1" />
      <img src="assets/images/home2.jpeg" alt="Cama Premium 2" />
      <img src="assets/images/home3.jpeg" alt="Cama Premium 3" />
      <img src="assets/images/home4.jpeg" alt="Cama Premium 4" />
    </div>
  </div>
</section>
