# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Angular specific
.angular/
.angular/cache/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# System files
.DS_Store
Thumbs.db
